* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #ffe4e1, #fff);
}

.wrapper {
  position: relative;
  max-height: 80vh;
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 2.5em;
  color: #e94d58;
  margin: 15px 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.gif {
  width: 100%;
  max-width: 300px;
}

.btn-group {
  margin-top: 50px;
}

button {
  width: 150px;
  height: 50px;
  color: white;
  font-size: 1.2em;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 4px gray;
  border: none;
  transition: background 0.3s, transform 0.3s;
}

button.yes-btn {
  background: #ff69b4;
}

button.no-btn {
  background: #e94d58;
  color: #fff;
}

.answer {
  color: black;
  font-size: 1.2em;
  margin-bottom: 20px;
  margin-top: 20px;
}

button.no-btn:hover {
  transform: scale(1.05);
}


@media (max-width: 480px) {
  h2 {
    font-size: 1.8em;
  }

  button {
    width: 100%;
  }

  .answer {
    font-size: 1em;
  }
}

.heart {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgb(243, 146, 228);
  border-radius: 60%;
  clip-path: polygon(
    50% 0%,
    100% 50%,
    100% 100%,
    50% 100%,
    50% 60%,
    0% 100%,
    0% 50%
  );
  animation: fly 2s ease forwards;
}

@keyframes fly {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh) rotate(360deg);
  }
}
